html,
body {
  margin: 0;
  padding: 0;
  background-image: url("img/table.png");
  font-family: "Exo 2", sans-serif;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background-color: #fff100;
  cursor: pointer;
  border: none;
}

button#new-deck {
  align-self: flex-start;
  padding: 5px;
  font-weight: 900;
  font-size: 1.1em;
}

button#draw-cards {
  font-size: 1.2em;
  padding: 5px;
  margin-top: 0.5em;
}

#cards {
  align-self: center;
}

.card-1,
.card-2 {
  height: 19.5em;
  width: 14em;
  border: 3px solid black;
  margin: 1em;
  border-radius: 5%;
}

.winner,
.num-cards {
  color: white;
  align-self: center;
  font-size: 2em;
  font-weight: 900;
  height: 1.1em;
}

.top {
  display: flex;
  align-self: flex-start;
  margin-bottom: 10px;
}

div.top > div.num-cards {
  margin: 0;
  margin-left: 50px;
}
